In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import accuracy_score, mean_squared_error

# Using the KMeans from sklearn
from sklearn.cluster import AgglomerativeClustering

### 1.Load the file “zoo.data” and look at the info and first five rows. The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.

In [18]:
data = pd.read_csv('zoo.csv')

In [3]:
data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [4]:
data.shape

(101, 18)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
animal_name    101 non-null object
hair           101 non-null int64
feathers       101 non-null int64
eggs           101 non-null int64
milk           101 non-null int64
airborne       101 non-null int64
aquatic        101 non-null int64
predator       101 non-null int64
toothed        101 non-null int64
backbone       101 non-null int64
breathes       101 non-null int64
venomous       101 non-null int64
fins           101 non-null int64
legs           101 non-null int64
tail           101 non-null int64
domestic       101 non-null int64
catsize        101 non-null int64
class_type     101 non-null int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [6]:
data.describe().transpose()

            count      mean       std  min  25%  50%  75%  max
hair        101.0  0.425743  0.496921  0.0  0.0  0.0  1.0  1.0
feathers    101.0  0.198020  0.400495  0.0  0.0  0.0  0.0  1.0
eggs        101.0  0.584158  0.495325  0.0  0.0  1.0  1.0  1.0
milk        101.0  0.405941  0.493522  0.0  0.0  0.0  1.0  1.0
airborne    101.0  0.237624  0.427750  0.0  0.0  0.0  0.0  1.0
aquatic     101.0  0.356436  0.481335  0.0  0.0  0.0  1.0  1.0
predator    101.0  0.554455  0.499505  0.0  0.0  1.0  1.0  1.0
toothed     101.0  0.603960  0.491512  0.0  0.0  1.0  1.0  1.0
backbone    101.0  0.821782  0.384605  0.0  1.0  1.0  1.0  1.0
breathes    101.0  0.792079  0.407844  0.0  1.0  1.0  1.0  1.0
venomous    101.0  0.079208  0.271410  0.0  0.0  0.0  0.0  1.0
fins        101.0  0.168317  0.376013  0.0  0.0  0.0  0.0  1.0
legs        101.0  2.841584  2.033385  0.0  2.0  4.0  4.0  8.0
tail        101.0  0.742574  0.439397  0.0  0.0  1.0  1.0  1.0
domestic    101.0  0.128713  0.336552  0.0  0.0  0.0  0.0  1.0
catsize     101.0  0.435644  0.498314  0.0  0.0  0.0  1.0  1.0
class_type  101.0  2.831683  2.102709  1.0  1.0  2.0  4.0  7.0

###  2. Find out the unique number of high level class.

In [9]:
data['class_type'].unique()

array([1, 4, 2, 7, 6, 5, 3], dtype=int64)

### 3. Use the 16-intermediate feature and perform an agglomerative clustering.

In [19]:
x = data.drop(['class_type','animal_name'],axis=1)
y = data['class_type']

In [23]:
agglo = AgglomerativeClustering(n_clusters=7)
predicted_values = agglo.fit_predict(x)

### 4. Compute the mean squared error by comparing the actual class and predicted highlevel class.

In [24]:
# Accuracy Score
print("Accuracy Score")
print(accuracy_score(predicted_values, y))

# Mean Square Error value
print("Mean Squared Error value")
print(mean_squared_error(predicted_values, y))

Accuracy Score
0.33663366336633666
Mean Squared Error value
7.673267326732673

In [25]:
# accuracy is 33%